image: golang:latest

stages:
  - build

building:
  stage: build
  script:
    - go get -u github.com/pepa65/m2m
    - go mod tidy
    - CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -ldflags="-s -w"
    - CGO_ENABLED=0 GOOS=linux GOARCH=arm go build -ldflags="-s -w" -o m2m_pi
    - CGO_ENABLED=0 GOOS=freebsd GOARCH=amd64 go build -ldflags="-s -w" -o m2m_freebsd
    - CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -ldflags="-s -w" -o m2m_osx
    - CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -ldflags="-s -w" -o m2m.exe
  artifacts:
    name: m2m
    paths:
     - m2m
     - m2m_pi
     - m2m_freebsd
     - m2m_osx
     - m2m.exe

